language: ruby
rvm:
  - 2.3.0
env:
  - DB=postgresql
bundler_args: --without production
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec/
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres