<%# grabs ENV info to report out version details for debuggin %>
<h3>Version Info:</h3>
<br>Deployed version number: <b><%= @version_number %></b>
<br>Deployed hash: <b><%= @version_hash %></b>
<br>Deployed date: <b><%= @version_date %></b>

