/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#main-content {
  margin-top: 25px;
  margin-bottom: 50px; //To account for 44px footer
}

.index_tables {
    table {
        width: 100%;
        border-collapse: collapse;
    }
    tr:nth-of-type(odd) {
        background: #eee;
    }
    th {
        background: #333;
        color: white;
        font-weight: bold;
    }
    td, th {
        padding: 4px;
        border: 1px solid #ccc;
        text-align: left;
    }
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 /* Menu */
 .menu {
   color: #232323;

   li {
     list-style: none;
     padding: 5px 0;
     border-bottom: 1px solid #bcbcbc;

     &:last-of-type {
       border: 0;
     }
   }

   a:hover {
     background: none;
     text-decoration: none;
     font-weight: 500;
   }
 }

 /* Header */
 .header {
   border-bottom: 1px solid #bcbcbc;
 }

 /* Footer */
 .footer {
   border-top: 1px solid #bcbcbc;
   background: white;
   position: fixed;
   bottom: 0;
   height: 44px;
   color: #232323;
   width: 100%;
 }
